/* colors.css */
:root {
  --primary-color: cornflowerblue;
  --background-color: white;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

